@import "../media/media";
/*---------- header-mobile----------*/


.header__mobile-icon{
  @include laptop_768{
    position: absolute;
    top: 50%;
    left: 22px;
    margin-top: -12.5px;
    width: 27px;
    height: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url("../../assets/img/header/header_hamburger.png");
  }
}



