include ../_components/head
  title Page_2
body#header
  wrapper
    include ../_components/header
    main
      .page-wrapper
        include ../_components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="../../../assets/img/header/bg-header_page2.jpg" alt='')
                .section__header-title justifying confidence

              .section__visa.section
                .section__visa-bg.section__bg
                .section__visa-content.section__content
                  .row
                    .col-xs-12
                      .section__visa-title.section__title_purple
                        h1 Виза в РФ
                  .row
                    .col-xs-12
                      .section__visa-text
                        .visa-text_doc
                          | Для въезда в Российскую Федерацию иностранный гражданин либо лицо без гражданства должен предъявить действительный документ, удостоверяющий личность и признаваемый Российской Федерацией в этом качестве, и визу, если иной порядок въезда в Российскую Федерацию не установлен международным договором.
                        .visa-text_invitation
                          span Приглашение&nbsp;
                          | является основанием для выдачи иностранному гражданину визы, согласно положениям, предусмотренных Федеральным законом от 25 июля 2002 г. № 115-ФЗ «О правовом положении иностранных граждан в Российской Федерации» или международными договорами Российской Федерации.
                          | При подаче ходатайства о выдаче приглашения на въезд в Российскую Федерацию приглашающей стороне предоставляется право выбора оформления приглашения либо на бланке установленной формы либо в форме электронного документа.
                        .visa-text_invitation-type
                          | При планировании поездки важно выбрать правильный тип оформляемого приглашения, так как цель заявляемого визита должна соответствовать реальной цели въезда.
                  .row
                    .col-xs-12
                      .section__visa-visit
                        .section__visa-visit_title
                          | В зависимости от цели визита приглашения подразделяются на:
                        .section__visa-visit_block
                          .visa-visit_block-item
                            img.visa-visit-img.img-responsive(src='../../../assets/img/page_2/visa/bussiness-cuple.jpg' alt='Деловые')
                            .visa-visit-bg
                              .visa-visit-bg_title Деловые
                              button.section__btn Подробнее
                          .visa-visit_block-item
                            img.visa-visit-img.img-responsive(src='../../../assets/img/page_2/visa/family.jpg' alt='Туристические')
                            .visa-visit-bg
                              .visa-visit-bg_title Туристические
                              button.section__btn Подробнее
                          .visa-visit_block-item
                            img.visa-visit-img.img-responsive(src='../../../assets/img/page_2/visa/job.jpg' alt='Рабочие')
                            .visa-visit-bg
                              .visa-visit-bg_title Рабочие
                              button.section__btn Подробнее


              .section__bus-invit_part-one.section
                .section__bus-invit-bg.section__bg
                .section__bus-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__bus-invit-title.section__title_purple
                        h2 Деловое приглашение
                  .row
                    .col-xs-12
                      .section__bus-invit-text
                        | Обыкновенное деловое приглашение является наиболее часто оформляемым типом приглашения. Данное приглашение понадобится всем, кто связывает поездку в Россию с решением коммерческих или деловых вопросов, для расширения своих бизнес-связей, подписания договоров, а также с выполнением каких-либо технических работ. Чтобы оформить деловую визу, нужно получить деловое приглашение от компании в РФ
              .section__invit-quest.section
                .section__invit-quest-bg.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img
                        span Кто оформляет деловое приглашение?

              .section__bus-invit_part-two.section
                .section__bus-invit-bg.section__bg
                .section__bus-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__bus-invit-text.invit-text-margin
                        | Приглашения оформляются через ГУВМ МВД (только по запросу аккредитованного в ГУВМ МВД юридического лица). Имеется возможность оформления через ТПП РФ (для представительств) или МИД (приглашение от лица государственной организации). Приглашение содержит следующие сведения: фамилию, имя (написанные буквами русского и латинского алфавитов), дату и место рождения, пол, гражданство приглашаемого лица, государство его проживания, номер и дату выдачи документа, удостоверяющего его личность, цель поездки, предполагаемый срок пребывания в Российской Федерации, предполагаемые пункты посещения в Российской Федерации, наименование приглашающей организации и ее место нахождения или фамилию, имя приглашающего физического лица и адрес его места жительства, номер и дату принятия решения о
                  .row
                    .col-xs-6
                      .section__bus-invit-multiple
                        .bus-invit_title
                          | По кратности
                        .bus-invit_text
                          | (количество возможных въездов в РФ)однократное, двукратное, многократное
                    .col-xs-6
                      .section__bus-invit-time
                        .bus-invit_title
                          | По сроку действия
                        .bus-invit_text
                          | (количество возможных въездов в РФ)однократное, двукратное, многократное

              .section__bus-invit-registration.section
                .section__bus-invit-registration-bg.section__bg.invit-registration-bg
                .section__bus-invit-registration-content.section__content
                  .bus-invit-registration-block
                    .bus-invit-registration-img.invit-reg-time
                    .bus-invit-registration-text
                      .bus-invit-registration-text_title
                        | Срок оформления:
                      .bus-invit-registration-text_desc
                        | делового приглашения составляет от 5 до 20 рабочих дней, в зависимости от типа и кратности.
                  .bus-invit-registration-block
                    .bus-invit-registration-img.invit-reg-warning
                    .bus-invit-registration-text
                      .bus-invit-registration-text_title
                        | Важно:
                      .bus-invit-registration-text_desc
                        | деловое приглашение не дает право на осуществление трудовой деятельности на
                        | территории РФ и количество дней пребывания в полугодии ограничено 90 днями.
                        | После получения приглашения необходимо обратиться в консульство РФ для получения визы.


              .section__tourists-invit_part-one.section
                .section__tourists-invit-bg.section__bg
                .section__tourists-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__tourists-invit-title.section__title_purple
                        h2 Туристическое приглашение
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__tourists-invit-text.text_color-gray
                          | Иностранные граждане, прибывающие с туристическими целями  (имеющие надлежащим образом оформленный договор на оказание услуг по туристическому обслуживанию и подтверждение о приеме иностранного туриста организацией, осуществляющей туроператорскую деятельность) должны обратиться в Консульство РФ за оформлением туристической визы.
                        .section__tourists-invit-text.text_color-gray
                          | Приглашения бывают двух видов:
                          span туризм (индивидуальный и групповой) и целевой туризм.
                          | Целевой туризм подразумевает посещение конкретного делового мероприятия, конференции и т.п

              .section__invit-quest.section
                .section__invit-quest-bg.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img
                        span Кто оформляет туристическое приглашение?

              .section__tourists-invit_part-two.section
                .section__tourists-invit-bg.section__bg
                .section__tourists-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__tourists-invit-text.text_color-gray
                          | Деятельность туроператора ведут лишь зарегистрированные юридические лица, которые занесены в Единый Федеральный Реестр Туроператоров, а также имеют необходимое финансовое обеспечение гарантированное страховыми компаниями. Наша компания зарегистрирована в Едином Федеральном Реестре и имеет право оформлять туристические приглашения от своего лица.
                        .section__tourists-invit-text.text_color-purple.text_weight-bold
                          | Срок оформления туристического приглашения составляет от 15 минут до 1 рабочего дня.


              .section__job-invit.section
                .section__job-invit-bg.section__bg
                .section__job-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__job-invit-title.section__title_white
                        h2 Рабочее приглашение
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__job-invit-text
                          | Иностранцам, прибывающим в Российскую Федерацию с  целью «работа по найму» необходимо оформление рабочего приглашения и получение рабочей визы.
                        .section__job-invit-text
                          span Рабочая виза&nbsp;
                          |— это документ, позволяющий пребывать на территории РФ в течении длительного в
                          |ремени (от 1 года до 3 лет) беспрерывно.  Данная виза выдается гражданину, который устроился на работу на территории РФ.

                    .section__job-invit-time_block
                      .section__job-invit-time
                        .job-invit-time_title
                          | Обыкновенное рабочее приглашение
                        .job-invit-time_text
                          | Данное приглашение оформляется для специалистов по процедуре на 1 год, с дальнейшим продлением однократной рабочей визы в многократную на территории РФ уполномоченным миграционным органом
                        .job-invit-time_time-limit
                          | Срок: на 3 месяца
                      .section__job-invit-time
                        .job-invit-time_title
                          | рабочее приглашение для ВКС
                        .job-invit-time_text
                          | Данное приглашение оформляется для специалистов по процедуре ВКС. Рабочая виза первоначально оформляется в российском консульстве за рубежом, а продление осуществляется на территории РФ уполномоченным миграционным органом.
                        .job-invit-time_time-limit
                          | Срок: от года

              .section__invit-quest.section
                .section__invit-quest-bg.invit-quest-bg-gray.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img
                        span Куда обращаться за получением рабочего приглашения?


              .section__info-invit.section
                .section__info-invit-bg.section__bg
                .section__info-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__info-invit-text
                        | Уполномоченные представители юридических лиц обращаются с ходатайством о выдаче приглашения по месту их нахождения. Местом нахождения юридического лица является место его государственной регистрации. Уполномоченные представители иностранных юридических лиц и филиалов обращаются с ходатайством о выдаче приглашения по месту их постановки на учет в налоговом органе.

              include ../_components/contacts
              include ../_components/map
              include ../_components/form

  script(type="text/javascript" src="../../../assets/lib/jquery/jquery-3.2.1.min.js")
  script(src="../../../js/page_1/map.js")
  script(async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDkt2KHmSgb2aqFtHySvyCyfvD1Ew4ojNk&callback=initMap" type="text/javascript")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
  script(src="../../../js/page_1/page_1.js")


