$header-height: 100px;
$menu-width: 210px;
$background-width: 1770px;
$color-purple:#951b81;
$color-white:#ffffff;
$color-grey:#9fa1a3;
$color-dark-grey:#727270;



html{
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

body{
  font-family: "ArialNarrowRegular", Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: $color-grey;
  max-width: 1300px; /* $container-large-desktop + 160px */
  margin: 0 auto;
    @media (max-width: 992px) { /* (min-width: $screen-md-min)*/
      max-width: 1200px; /*width: $container-md + 160px;*/
    }
    @media (max-width: 768px) { /*(min-width: $screen-sm-min)*/
        max-width: 800px; /*$container-sm + 50px;*/
    }
}

h1, h2, h3, h4{
  font-family: "OpenSansRegular";
  margin: 0;
}

h1{
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

h2{
  font-family: "OpenSansBold";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 45px;

}

h3{
  font-family: "OpenSansBold";
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $color-purple;

}

h4{
  font-size: 28px;
  margin-bottom: 50px;
  line-height: 1.5;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}


.text_color-purple{
  color: $color-purple;
}
.text_color-white{
  color: $color-white;
}

.text_color-gray{
  color: $color-grey;
}

.text_weight-bold{
  font-weight: bold;
}


/* --------------- выравнивание столбцов по высоте ----------------*/
.equal{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    @media (max-width: 767px) {    /* стили для xs-устройств */
      display: block;
    }

    @media (min-width: 768px) {    /* стили для sm-устройств */
      display: block;
    }

    @media (min-width: 992px) {    /* стили для md-устройств */
      display: flex;
    }
}


.flex-item-left{
  background: #737370;
}
.flex-item-right{
  background: #f4f5f0;
}

.blog .flex-item-left{
  background: #FBF8F1;
}

.blog .flex-item-right{
  background: #FBF8F1;
}



/* --------------- sidebar ----------------*/

.sidebar{
  position: fixed;
  width: 210px;/* $left-width*/
  top: 100px;/* $header-height*/
  bottom:0;
  background: #737370;
  z-index: 999;
}

.sidebar-logo{
  width: 204px;
  height: 86px;
}

.sidebar-list{
  padding: 0 30px 0 15px;
}

.sidebar-item{
  position: relative;
  min-height: 100px;
  text-align: center;
  border-bottom: 1px solid #999997;
}

.sidebar-link{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: block;
  color: $color-grey;
  font-size:18px;
  text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $color-white;
    }


}

.sidebar-img{
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}





/* --------------- header ----------------*/

.header {
  width: 100%;
  min-width: 900px;
  height: $header-height; /* $header-height*/
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .4);
  //background-color: rgba(149, 27, 129, .4);
  max-width: 1300px;
    @media (max-width: 992px) {
      /* (min-width: $screen-md-min)*/
      max-width: 1200px; /*width: $container-md + 160px;*/
    }

    @media (max-width: 768px) {
      /*(min-width: $screen-sm-min)*/
      max-width: 800px; /*$container-sm + 50px;*/
    }

}


.header__logo{
  position: relative;
  height: 100px;/* $header-height*/
  float: left;
  width: 210px; /* $left-width*/
  background-color: #ffffff;
}



.header__logo-img{
  position: absolute;
  width: 165px;
  height: 39px;
  top: 50%;
  left: 50%;
  margin-left: -(165/2) +px;
  margin-top: -(39/2) +px;
}

.header-menu{

}
.page-wrapper{
  margin: 0 auto;
}


.section__header-img{
  width: 100%;
  min-height: 700px;
  //height: 100vh;
}



.header__contact{
  display: block;
  float: right;
  margin-top: 15px;
  text-align: right;
}

.header__contact-lang-block{
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}



.header__contact-lang{
  width: 27px;
  height: 27px;
  background: $color-grey;
  position: relative;
  margin-bottom: 6px;
  color: #fff;
  float: right;
  line-height: 27px;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  &:visited,&:hover, &:focus, &:active{
      text-decoration: none;
      color: $color-white;
    }
}

.rus{
  margin-left: 5px;
}

.active{
  background: $color-purple;
}

.header__contact-lang-text{
  position: absolute;
  font-family: 'futurademicregular';
  font-weight: bold;
  color: $color-white;
  font-size: 13px;
  width: 14px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-left: -(14/2) + px;
  margin-top: -(16/2) + px;
    &:hover{
      color: $color-white;
      text-decoration: none;
    }

}


.header__contact-item{
  display: inline-block;
  margin-left: 30px;
    &:first-child{
      margin-left: 0;
    }
    span{
      display: inline-block;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      margin-left: 10px;
    }
}

.lang-height{
  height: 27px;
}
.header__menu{
  margin-top: 20px;

}

.header__menu-item{
  display: inline-block;
    margin-left: 50px;
    &:first-child{
      margin-left: 0;
    }
}

.header__menu-link{
  font-family: "OpenSansRegular";
  font-size: 23px;
  text-transform: uppercase;
  color: $color-white;
    &:active{
      text-decoration: none;
      color: $color-white;
    }
    &:focus{
      text-decoration: none;
      color: $color-white ;
    }
    &:hover{
      text-decoration: none;
      color: $color-purple;
    }

}


.section__header-title-block{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.section__header-title{
  position: relative;
  text-transform: uppercase;
  width: 700px;
  font-family: 'futurademicregular';
  font-size: 86px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  line-height: 1.2;
}

.header-container{
  position: relative;
    &:after{
      width: 100%;
      background-color: rgba(0, 0, 0, .4);
      height: 100px; /* $header-height*/
      position: absolute;
      max-width: $background-width + $menu-width - 1300px; /* 1545px - 1300px*/
      content: '';
      left: 100%;
      top: 0;
      bottom: 0;
    }
}



.content-wrapper{
  margin: 0 auto;
  padding-left: 210px;/* $left-width*/
  padding-top: 100px;/* $header-height*/
  position: relative;
}

.container-block{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid{
  padding: 0 5%;
}


.section__header{
  position: relative;
  height: 600px;

  .section__bg{
    top: -100px;
  }
}


.section,.section__content{
  position: relative;
}

.section__content{
  padding:85px 100px 85px 100px;
  text-align: center;
}


.section__bg{
  position: absolute;
  left: 0;
  width: $background-width;
  top: 0;
  bottom: 0;

}



.section__content-text{

}

.section__title_purple{
  color: $color-purple;
}
.section__title_white{
  color: $color-white;
}



/*-----------------section__about--------*/


.section__about-bg{
  width: $background-width;
}


.section__about-text{
  color: $color-dark-grey;
  line-height: 2;
  text-indent: 20px;
  text-align: justify;
  text-align-last: center;
    span{
        color: $color-purple;
        font-weight: bold;
      }
}


/*-----------------social__block--------*/

.social__block-list{
  display: inline-flex;
  margin-top: 75px;

}

.social__block-item{
  display: inline-block;

}

.social__block-link_fb{
  display: inline-block;
  margin-left: 5px;
  background: url('../../../assets/img/social_icon/sprites/fb_about.png') 0px 0px no-repeat;
  width: 34px;
  height: 34px;
    &:hover{
      background: url('../../../assets/img/social_icon/sprites/fb_about.png') 0px -34px no-repeat;
      width: 34px;
      height: 34px;

    }

}
.social__block-link_vk{
  display: inline-block;
  margin-left: 5px;
  background: url('../../../assets/img/social_icon/sprites/youtube_about.png') 0px 0px no-repeat;
  width: 34px;
  height: 34px;
    &:hover{
      background: url('../../../assets/img/social_icon/sprites/youtube_about.png') 0px -34px no-repeat;
      width: 34px;
      height: 34px;

    }

}
.social__block-link_in{
  display: inline-block;
  margin-left: 5px;
  background: url('../../../assets/img/social_icon/sprites/insta_about.png') 0px 0px no-repeat;
  width: 34px;
  height: 34px;
    &:hover{
      background: url('../../../assets/img/social_icon/sprites/insta_about.png') 0px -34px no-repeat;
      width: 34px;
      height: 34px;

    }

}

.section__form .social__block-link_fb{
  background: url('../../../assets/img/contacts/sprites/fb_cont.png') 0px 0px no-repeat;
  &:hover{
    background: url('../../../assets/img/contacts/sprites/fb_cont.png') 0px -34px no-repeat;
  }
}
.section__form .social__block-link_vk{
  background: url('../../../assets/img/contacts/sprites/youtube_cont.png') 0px 0px no-repeat;
  &:hover{
    background: url('../../../assets/img/contacts/sprites/youtube_cont.png') 0px -34px no-repeat;
  }
}
.section__form .social__block-link_in{
  background: url('../../../assets/img/contacts/sprites/insta_cont.png') 0px 0px no-repeat;
  &:hover{
    background: url('../../../assets/img/contacts/sprites/insta_cont.png') 0px -34px no-repeat;
  }
}




/*-----------------section-service--------*/

.section__service-text{
  color: $color-white;
  line-height: 2;
}


.section__service-text_phrase{
  padding: 0 250px;
  font-size: 20px;
  font-family: "ArialNarrowBoldItalic";

}

.section__service-text_desc{
  margin: 65px 0 40px 0;
  text-align: justify;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;

}

.section__service-text_slogan{
  font-size: 22px;
  font-family: "ArialNarrowBold";
}

.service_bg{
  background: url('../../../assets/img/page_1/service/bussines_meetings_1.jpg') no-repeat;
  background-size:cover;

}



/*-----------------section-cooperation--------*/

.section__cooperation-text{
  color: $color-grey;
  padding: 0 80px 85px 80px;
  font-family: "ArialNarrowBold";
  span{
      color: $color-purple;
    }
}


.section__cooperation-item{
  text-align: center;
  color: $color-grey;
  //font-size: 15px;
}

.section__cooperation-photo{

}

.section__cooperation-img{
  width: 43px;
  height: 43px;
}

.section__cooperation-post{
  margin-top: 35px;
    span{
      display: block;
      color: $color-purple;
      text-transform: uppercase;
      font-family: "OpenSansBold";
    }
}


/*-----------------section__advantages--------*/

.section__advantages-bg{
  background: url('../../../assets/img/page_1/advantages/advantages_bg_1.jpg') no-repeat;
  background-size:cover;

}

.section__advantages-block{
  //margin-bottom: 75px;
}

.section__advantages-item{
  text-align: center;
  color: $color-white;
}

.section__advantages-icon{
  height: 37px;
  margin-bottom: 15px;

}
.section__advantages-text{
  padding: 0 25px;
}

.advantages-desc-title{
  font-family: "OpenSansRegular";
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.section__advantages-img{
  background: url('../../../assets/img/page_1/advantages/advantages_bg.jpg') no-repeat;
  min-height: 733px;
  -webkit-background-size:;
  background-size: cover;

}



.advantages-margin-top{
  margin-top: 80px;
}

/*-----------------section__news--------*/
.section__news-content{

}


.section__news-block{
  display: table;

}

.section__news-bg{
  background: $color-grey;
}


.section__news-item{
  display: table-cell;
  width: 33%;
  position: relative;
  text-align: left;
  //padding-right: 50px;

}

.padding_news1{
  padding-right: 50px;
}
.padding_news2{
  padding-left: 25px;
  padding-right: 25px;
}
.padding_news3{
  padding-left: 50px;
}

.section__news-date{
  width: 132px;
  height: 30px;
  background: $color-white;
  color: $color-grey;
  margin-bottom: 35px;
  text-align: center;
    span{
      font-family:"OpenSansBold";
    }
}

.section__news-text{
  color: $color-white;
  ////height: 230px;
  margin-bottom: 80px;
  overflow: hidden;
}

.section__btn{
  height: 40px;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 7px;
  padding: 0 10px;
  outline: none;
  font-family: "OpenSansRegular";
}



.section__news-block .section__btn{
  position: absolute;
  bottom: 0;
  background: $color-grey;
    &:hover{
      color: $color-dark-grey;
      border: 1px solid $color-dark-grey;
    }

}



/*-----------------section__clients--------*/


//// Slick-slider



.section__slider {
}

.section__slider-item{
  line-height: 75px;
  height: 75px;
    img{
      display: inline-block;
    }
}

.slick-prev {
  left: -30px;
  background-image: url('../../../assets/img/page_1/clients/stroke_left.png');
  background-position: 0;
  background-repeat: no-repeat;
  width: 22px;
  height: 27px;
    &:before{
      content: none;
    }
    &:hover, &:focus{
      background: url('../../../assets/img/page_1/clients/stroke_left.png');
      background-position: 0;
      background-repeat: no-repeat;
      width: 22px;
      height: 27px;
        &:before{
          content: none;
        }
    }
}


.slick-next {
  right: -20px;
  background: url('../../../assets/img/page_1/clients/stroke_right.png');
  background-position: 0;
  background-repeat: no-repeat;
  width: 22px;
  height: 27px;
    &:before{
      content: none;
    }
    &:hover, &:focus{
      background: url('../../../assets/img/page_1/clients/stroke_right.png');
      background-position: 0;
      background-repeat: no-repeat;
      width: 22px;
      height: 27px;
        &:before{
          content: none;
        }
    }
}

.slick-list{
  //margin-left: 55px;

}


////bx-slider

.bx-wrapper {
  box-shadow: none;
  border: none;
  background: none;
}

.bx-wrapper .bx-pager{
  display: none;
}

.bx-wrapper .bx-prev {
  background: url('../../../assets/img/page_1/clients/stroke_left.png') no-repeat 0 0;
}

.bx-wrapper .bx-next {
  background: url('../../../assets/img/page_1/clients/stroke_right.png') no-repeat 0 0;
    &:hover{
      background-position: 0 0;
    }
}


.clients-bg{
  background: url('../../../assets/img/page_1/clients/clients_bg.jpg') no-repeat;
  background-size:cover;

}




/*-----------------section__contacts--------*/

.section__contacts-block{
}

.section__contacts-bg{
  background: $color-purple;
}

.section__contacts-item{
  text-align: center;
  padding: 0 20px;
}

.section__contacts-icon{
  margin-bottom: 40px;
}

.section__contacts-img{
  display: inline-block;
  width: 35px;
}

.section__contacts-desc{
  color: $color-white;
  font-size: 20px;
}

.section__contacts-desc-link{
  font-size: 20px;
  color: $color-white;
  &:hover{
    text-decoration: none;
    color: $color-white;
  }
}


/*-----------------section__maps--------*/

.section__maps{
  height: 608px;
}

#map{
  display: block;
  height: 608px;
}

/*-----------------section__form--------*/
.section__form-content{
  padding-top: 125px;
    form{
      margin-bottom: 0;
    }
}


.section__form .section__content{
  padding-bottom: 100px;
}



.section__form-bg{
  background: $color-purple;
}
.form-group {
  margin-top: 12px;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #626262;
  background-color: #fff;
  background-image: none;
  border: 2px solid $color-white;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.input-group * {
  font-family: "OpenSansBold";
  background: transparent;
  border-color: #fff;
  font-size: 24px;
  color: #fff;
  border-radius: 8px;
}

.input-group-addon{
  border: 2px solid $color-white;
  text-transform: uppercase;
}

.with-btn .btn {
  width: 125px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 0;
  font-family: "OpenSansBold";
  font-size: 24px;
  text-transform: uppercase;
  color: #91288f;
  background: #fff;
  outline: none;
  border: none;
}
.btn{
  border-radius: 8px;
}

.with-btn {
  padding-right: 155px;
  position: relative;
  height: 50px;
}

.input-group.no-valid * {
  border-color: #FF0000;
}


/*--------------------------- page_2 -----------------*/

.section__visa-content{

}


/////////// three-blocks


.section__three-blocks_title{
  font-family:"OpenSansRegular";
  font-size: 30px;
  color: $color-purple;
  padding: 0 90px;
  margin-bottom: 50px;
}

.section__visa .section__three-blocks_title{
  padding-left: 0;
}

.section__visa .section__three-blocks_block{
  margin:0;
}


.section__two-blocks_title{
  padding: 0;
}

.section__three-blocks_block{
  max-width: 810px;
  margin: 0 auto;
}

.section__two-blocks_block{
  margin: 0 auto 0 0;
}

.three-blocks_block-item{
  position: relative;
  width: 33%;
  margin-right: -5px;
  margin-bottom: -7px;
  display: inline-block;
}

.section__two-blocks_item{
  width: 50%;

}

.three-blocks-img{
  display: block;

}

.three-blocks-bg{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  //position: relative;
  background-color: rgba(145, 38, 143, 0.8);
  //margin-top: -100px;
}


.three-blocks-bg_title{
  font-size: 19px;
  font-family: "OpenSansBold";
  color: $color-white;
  text-transform: uppercase;
  padding-top: 8px;
  margin-bottom: 8px;
}

.section__visa .three-blocks-bg_title{
  font-family: "OpenSansRegular";
}

.section__two-bg_title{
  text-transform: none;
}

.section__three-blocks .section__btn{
  background: none;
  margin-bottom: 17px;
  &:hover{
    color: $color-purple;
    border: 1px solid $color-purple;
  }

}

/////////////

.visa-text_doc{
  font-family: "ArialNarrowBold";
  color: $color-purple;
  margin-bottom: 70px;
  text-align: left;
}

.visa-text_invitation{
  margin-bottom: 40px;
  text-align: left;
    span{
      color: $color-dark-grey;
      font-family: "ArialNarrowBold";
    }
}

.visa-text_invitation-type{
  font-family: "ArialNarrowBold";
  margin-bottom: 85px;
  color: $color-dark-grey;
  text-align: left;
}





.section__bus-invit-bg{
  background: $color-grey;
}


.invit-registration-bg {
  background: url('../../../assets/img/page_2/invitation/invitation_bg_1.jpg') no-repeat;
  background-size: cover;
}

.section__bus-invit_part-one .section__content{
  //padding:85px 70px 55px 100px;
  padding-top: 85px;
  padding-bottom: 55px;
}

.section__bus-invit-text{
  color: $color-white;
 text-align: left;

}

.section__invit-quest-bg{
  background: $color-purple;
}

.section__content-invit-quest{
  padding: 15px 0 15px 100px;
}

.invit-quest-title{
  position: relative;
  span{
    display: inline-block;
    font-family: "OpenSansBold";
    font-size: 24px;
    color: $color-white;
    line-height: 2;
    margin-left: 50px;
  }
}

.invit-quest-img{
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: inline-block;
  background: url('../../../assets/img/page_2/invitation/question.png') no-repeat;
  width: 36px;
  height: 36px;
}

.section__bus-invit_part-two .section__content{
  padding-top: 40px;
  padding-bottom: 65px;

}



.invit-text-margin{
  margin-bottom: 100px;

}

.bus-invit_title{
  font-family: "OpenSansBold";
  font-size: 24px;
  text-transform: uppercase;
  color: $color-purple;
  margin: 0 35px;
}

.bus-invit_text{
  color: $color-white;
  padding: 0 50px;
}

.bus-invit-registration-block{
  position: relative;
  text-align: left;
  color: $color-white;
    &:first-child{
      margin-bottom: 50px;
    }
}

.bus-invit-registration-img{
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.invit-reg-time{
  background: url('../../../assets/img/page_2/invitation/calender.png') no-repeat;
}

.invit-reg-warning{
  background: url('../../../assets/img/page_2/invitation/interjection.png') no-repeat;
}

.bus-invit-registration-text{
  display: inline-block;
  margin-left: 75px;
}


.bus-invit-registration-text_title{
  font-family: "OpenSansBold";
  font-size: 24px;
  text-transform: uppercase;
}



.section__tourists-invit .section__content{
  //padding:85px 70px 55px 70px;
  padding-bottom: 55px;
}

.section__tourists-invit-text_block{
  text-align: left;
}

.section__tourists-invit-text{
  &:first-child{
    margin-top: 15px;
    margin-bottom: 55px;
  }
  span{
    color:$color-dark-grey;
    font-weight: bold;
  }

}

.section__tourists-invit_part-two .section__content{
  //padding:45px 70px 90px 70px;
  padding-top: 45px;
  padding-bottom: 90px;
}



.section__job-invit-bg{
  background: $color-purple;
}

.section__tourists-invit-text_block{
  color: $color-white;
}

.section__job-invit-text{
  &:first-child{
    margin-bottom: 45px;
  }
  &:last-child{
    margin-bottom: 65px;
  }
  span{
    text-transform: uppercase;
    font-weight: bold;
  }
}

.section__job-invit-time_block{
  font-family: "Arial Narrow";
  display: table;
}

.section__job-invit-time{
  position: relative;
  width: 50%;
  display: table-cell;
  color: $color-white;

}

.job-invit-time_title{
  font-family: "OpenSansBold";
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 50px;
  margin-bottom: 15px;
}


.job-invit-time_text{
  padding: 0 20px;
  margin-bottom: 50px;
}

.job-invit-time_time-limit{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Arial";
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

}


.invit-quest-bg-gray{
  background: $color-grey;
}

.section__info-invit-text{
  text-align: left;
}






/*--------------------------- page_3 -----------------*/

.section__citiz-text{
  line-height: 1.5;
  text-align: left;
}


.citiz-text_get{
  font-family: "ArialNarrowBold";
  color: $color-purple;
  margin-bottom: 70px;
  text-align: center;
}

.citiz-text_invitation{
  font-family: "ArialNarrowBold";
  color: $color-purple;
  margin-top: 90px;
    span{
      display: inline-block;
      margin-top: 35px;
      color: $color-grey;
    }
}

.citiz-text_manager{
  color: $color-grey;
  margin-top: 30px;
}

.citiz-text_law{
  font-family:"OpenSansRegular";
  text-align: left;
  font-size: 30px;
  color: $color-white;
  margin-bottom: 35px;
  line-height: 1.5;
  padding-right: 40px;
}


////
.section__citiz_enumeration-bg{
  background: $color-purple;
}

.section__citiz_enumeration-list{
  color: $color-white;
  text-align: left;
}

.section__citiz_enumeration-item{
    span{
      font-family: "ArialNarrowBold";
    }
}

.section__citiz_enumeration .section__content{
  //padding:60px 70px 60px 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.citiz_order-text{
  color: $color-grey;
}


.section__citiz_requirement-bg{
  background: $color-grey;
}

.section__citiz_requirement-text{
  font-family: "ArialNarrowBold";
  color: $color-purple;
}


///

.section__rvp-text{
  text-align: left;
}

.rvp-text_resolution{
  font-family: "ArialNarrowBold";
  color: $color-purple;
  margin-bottom: 35px;
}

.rvp-text_time{
  margin-bottom: 35px;
}


////
.section__rvp_enumeration-bg{
  background: $color-grey;
}

.section__rvp_enumeration-title{
  text-align: left;
  font-family: "OpenSansRegular";
  font-size: 28px;
  margin-bottom: 55px;
}

.rvp_enumeration-list{
  text-align: left;
  line-height: 1.5;
}

.rvp_enumeration-item{
  color: $color-white;
    span{
      font-family: "ArialNarrowBold";
      color: $color-purple;
    }
}

////

.section__residence-bg{
  background: url('../../../assets/img/page_3/vng/vng-bg_1.jpg') no-repeat;
  background-size:cover;

}

.section__residence-text{
  text-align: left;
  color: $color-white;
}

.residence-text_info{
  font-family: "ArialNarrowBold";
  margin-bottom: 30px;
}

.residence-text_time{
  margin-bottom: 30px;
}

.residence-text_life{
  font-family: "ArialNarrowBold";
}



/*-------------------------- page 4----------------*/


.section__other-services-text{
  line-height: 1.5;
  text-align: left;
}


.other-services-text_add{
  font-family: "ArialNarrowBold";
  color: $color-purple;
  margin-bottom: 70px;
  text-align: center;
}

.other-services-text-item{
  margin-bottom: 35px;
}

.other-services-text-item_title{
  font-family: "OpenSansRegular";
  font-size: 30px;
  color: $color-purple;
}




/*-----------------section-web--------*/

.section__web-content{
  text-align: left;
}

.section__web-title{
  text-align: center;
}


.section__web-desc{
  color: $color-purple;
  font-family: "ArialNarrowBold";
  margin-bottom: 60px;
}

.web__video-block-text{
  margin-bottom: 35px;
}

.web__video-block-text_time{
  color: $color-purple;
  font-family: "ArialNarrowBold";
}

.web__video-block-video{
  position:relative;
  height:0;
  padding-bottom:56.25%;
  margin-bottom: 20px;
  iframe{
    position:absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.web__info-block{
  position: relative;
  display: table;
  margin-top: 60px;
  color:$color-white;
  border-spacing: 15px 0px;


}

.web__info-block_desc{
  display: table-cell;
  width: 50%;
  background: $color-grey;
  padding:40px 15px 95px 15px;
}

.web__info-block-text{
  margin-bottom: 40px;
}
.web__info-block-text_people{
  font-family: "ArialNarrowBold";
  color: $color-purple;
}

.section__web-btn{
  display: block;
  text-decoration: none;
  background: none;
  border: none;
    &:hover{
      text-decoration: none;
      color: $color-purple;
    }
    &:focus{
      outline: none;
    }

    span{
      font-family: "ArialNarrowBoldItalic";
      color: $color-grey;
      line-height: 2;
      vertical-align: middle;
    }

}
.web__info-block_desc .section__web-btn{
    span{
      color: $color-white;
    }
}

.web__info-block_desc .section__web-btn{
  position: absolute;
  bottom: 25px;
}

.section__web-btn_img{
  margin-right: 10px;

}

///

.modal-body{
  padding: 0;
}


#myModalBox .web__video-block-video{
  margin-bottom: 0;
}

#myModalBox .modal-dialog{
  width: auto;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  //padding-right: 0;
}

#myModalBox .modal-content{
  width: 100%;
  height: 100%;
}

.modal, .fade, .in{
  //padding-right: 0;
}


/*-----------------section__exit-visa---------*/


.exit-visa-text_desc{
  font-family:"ArialNarrowBold";
  color: $color-purple;
  text-align: left;
}



////
.section__exit-visa-time-bg{
  background: $color-grey;
}

.section__exit-visa-time-bg{
  background: $color-grey;
}

.section__exit-visa-time-list{
  text-align: left;
}

.section__exit-visa-time-item{
  color: $color-white;
    &:first-child{
      margin-bottom: 40px;
    }
}

////

.section__exit-visa-useful-content{
  text-align: left;
}

.section__exit-visa-useful-title{
  font-family: "OpenSansRegular";
  font-size: 28px;
  color: $color-purple;
  margin-bottom: 35px;
}

.section__exit-visa-useful-item{
    span{
      font-family:"ArialNarrowBold";
      color: $color-purple;
    }
}

////

.section__exit-visa-advantages-bg{
  background: url('../../../assets/img/page_6/bg_exit_visa.jpg') no-repeat;
  background-size:cover;
}

.section__exit-visa-advantages-title{
  font-family: "OpenSansRegular";
  font-size: 28px;
  text-align: left;
  color: $color-white;
  margin-bottom: 35px;
}

.section__exit-visa-advantages-list{
  text-align: left;
  color: $color-white;
}

/*-----------------section__work-permit---------*/

.section__work-permit .section__content{
  padding-bottom: 0;
}


.section__work-permit-text{
  text-align: left;
  color: $color-purple;
  font-family: "ArialNarrowBold";
  margin-bottom: 60px;
}


.work-permit_vks-item{
  text-align: left;
  margin-bottom: 35px;
    &:last-child{
      margin-bottom: 0;
    }
}

.work-permit_vks-item_title{
  font-family: "ArialNarrowBold";
  color: $color-purple;
    span{
      text-transform: uppercase;
    }
}

.work-permit_vks-item_title-text{
  display: inline;
  font-family: "ArialNarrowRegular";
  color: $color-grey;
}

.work-permit_vks-item_text{
    span{
    }
}



.section__work-permit-warning-bg{
  background: $color-purple;
}

.work-permit-warning-title{
  position: relative;

}

.work-permit-warning-img{
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: inline-block;
  background: url('../assets/img/page_7/interjection.png') no-repeat;
  width: 37px;
  height: 37px;
}

.work-permit-warning-text{
  display: inline-block;
  text-align: left;
  color: $color-white;
  margin-left: 80px;

}

.section__work-permit-interjec .section__content{
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
}


.section__advantages-expat-bg{
  background:$color-grey;
}

.section__advantages-expat-item{
  padding: 0 25px;
}

.section__advantages-expat-icon{
  display: inline-block;
  background: url("../assets/img/page_7/check.png") no-repeat;
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}

.section__advantages-expat-text{
  color: $color-purple;
}

.section__advantages-expat-block{
  margin-bottom: 50px;
  margin-top: 30px;
}



.section__work-permit-notice-content{
  text-align: left;
}

.section__work-permit-notice-title{
  text-align: left;
    h4{
      margin-bottom: 25px;
    }
}
.section__work-permit-notice-text{
  margin-bottom: 40px;
}

.section__work-permit-notice-text-order{
    span{
      color:$color-purple;
    }
}


