include _components/head
  title Гражданство
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="../../../assets/img/header/bg-header_page3.jpg" alt='')
                .section__header-title justifying confidence

              .section__citiz.section
                .section__citiz-bg.section__bg
                .section__citiz-content.section__content
                  .row
                    .col-xs-12
                      .section__citiz-title.section__title_purple
                        h1 Гражданство
                  .row
                    .col-xs-12
                      .section__citiz-text
                        .citiz-text_get
                          | Гражданство Российской Федерации можно получить  в  общем и упрощенном порядке
                  .row
                    .col-xs-12
                      .section__three-blocks
                        .section__three-blocks_title
                          | В общем порядке, необходимо пройти следующие этапы:
                        .section__three-blocks_block
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/Moskow.jpg' alt='РВП')
                            .three-blocks-bg
                              .three-blocks-bg_title РВП
                              button.section__btn Подробнее
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/vng.jpg' alt='ВНЖ')
                            .three-blocks-bg
                              .three-blocks-bg_title ВНЖ
                              button.section__btn Подробнее
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/citizen.jpg' alt='Гражданство РФ')
                            .three-blocks-bg
                              .three-blocks-bg_title Гражданство РФ
                              button.section__btn Подробнее
                  .row
                    .col-xs-12
                      .section__citiz-text
                        .citiz-text_invitation
                          | Для получения гражданства в упрощенном порядке необходимо наличие у иностранного гражданина или лица без гражданства установленных российским законодательством оснований для этого, т. е., наличие жизненных обстоятельств, которые дают ему право на, своего рода, «льготное» получение гражданства РФ.
                        .citiz-text_manager
                          | Наши менеджеры помогут Вам пройти данную процедуру комфортно и  определить возможные варианты
                        .citiz-text_law
                          | Гражданство Российской Федерации может быть приобретено согласно статье 11 Федерального закона «О гражданстве Российской Федерации»

              .section__citiz_enumeration.section
                .section__citiz_enumeration-bg.section__bg
                .section__citiz_enumeration-content.section__content
                  .row
                    .col-xs-12
                      ul.section__citiz_enumeration-list
                        li.section__citiz_enumeration-item
                          span по рождению;
                        li.section__citiz_enumeration-item
                          span в результате приема в гражданство&nbsp;
                          | Российской Федерации в общем порядке;
                        li.section__citiz_enumeration-item
                          span в результате приема в гражданство&nbsp;
                          | Российской Федерации в упрощенном порядке;
                        li.section__citiz_enumeration-item
                          span в результате восстановления в гражданстве&nbsp;
                          | Российской Федерации;
                        li.section__citiz_enumeration-item
                          span по иным основаниям,&nbsp;
                          | предусмотренным данным Федеральным законом или  международными договорами Российской Федерации.

              .section__citiz_order.section
                .section__citiz_order-bg.section__bg
                .section__citiz_order-content.section__content
                  .row
                    .col-xs-12
                      .citiz_order-text.section__citiz-text
                        | Общий и упрощенный порядки отличаются основаниями, условиями, сроками рассмотрения материалов (в общем порядке — в течение 1 года, а в упрощенном — до 6 месяцев, со дня подачи всех необходимых и надлежащим образом оформленных документов) и компетенцией принятия решения. В общем порядке решение принимает Президент Российской Федерации, в упрощенном — руководители территориальных органов МВД России по субъектам Российской Федерации. Никаких квот на приобретение российского гражданства нет. Преимущественного права приобретения гражданства Российской Федерации по признакам социальной, расовой, национальной, языковой или религиозной принадлежности не установлено.
              .section__citiz_requirement.section
                .section__citiz_requirement-bg.section__bg
                .section__citiz_requirement-content.section__content
                  .row
                    .col-xs-12
                      .section__citiz_requirement-text.section__citiz-text
                        | Условия приема в российское гражданство в общем порядке установлены статьей 13 Федерального закона «О гражданстве Российской Федерации». Одним из основных условий является постоянное проживание на территории России (т.е. по виду на жительство) в течение 5 лет непрерывно.
                        | Срок проживания сокращается до 1 года или это условие снимается вообще для отдельных категорий иностранцев, установленных той же статьей.



              .section__rvp.section
                .section__rvp-bg.section__bg
                .section__rvp-content.section__content
                  .row
                    .col-xs-12
                      .section__rvp-title.section__title_purple
                        h1 РВП
                  .row
                    .col-xs-12
                      .section__rvp-text
                        .rvp-text_resolution
                          | Разрешение на временное проживание — подтверждение права иностранного гражданина временно проживать в Российской Федерации до получения вида на жительство, оформленное в виде отметки в документе, удостоверяющем личность иностранного гражданина, либо в виде документа установленной формы, выдаваемого в Российской Федерации лицу без гражданства, не имеющему документа, удостоверяющего его личность.
                        .rvp-text_time
                          | Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено. В соответствии с миграционным законодательством, разрешение на временное проживание может быть выдано иностранному гражданину в пределах квоты. Квота утверждается Правительством Российской Федерации ежегодно для каждого субъекта Российской Федерации.
                        .rvp-text_limit
                          | Если квота исчерпана, заявление о выдаче разрешения на временное проживание к рассмотрению не принимается. Вместе с тем, Федеральным законом определены категории иностранных граждан, которым разрешение на временное проживание может быть выдано без учета квоты.

              .section__rvp_enumeration.section
                .section__rvp_enumeration-bg.section__bg
                .section__rvp_enumeration-content.section__content
                  .row
                    .col-xs-12
                      .section__rvp_enumeration-title.section__title_purple
                        | Без учета квоты разрешение на временное проживание может быть выдано иностранному гражданину:
                  .row
                    .col-xs-12
                      ul.rvp_enumeration-list
                        li.rvp_enumeration-item
                          span 1. Pодившемуся на территории РСФСР&nbsp;
                          |и состоявшему в прошлом в гражданстве СССР или родившемуся на территории Российской Федерации;
                        li.rvp_enumeration-item
                          span 2. Признанному нетрудоспособным&nbsp;
                          | и имеющему дееспособных сына или дочь, состоящих в гражданстве Российской Федерации;
                        li.rvp_enumeration-item
                          span 3. Имеющему хотя бы одного нетрудоспособного родителя,&nbsp;
                          | состоящего в гражданстве Российской Федерации;
                        li.rvp_enumeration-item
                          span 4. Состоящему в браке с гражданином Российской Федерации,&nbsp;
                          |имеющим место жительства в Российской Федерации;
                        li.rvp_enumeration-item
                          span 5. Осуществившему инвестиции в Российской Федерации в размере,&nbsp;
                          | установленном Правительством Российской Федерации;
                        li.rvp_enumeration-item
                          span 6. Поступившему на военную службу,&nbsp;
                          |на срок его военной службы;
                        li.rvp_enumeration-item
                          span 6.1 Являющемуся участником Государственной программы
                          | По оказанию содействия добровольному
                          | переселению в Российскую Федерацию соотечественников, проживающих за рубежом, и членам его семьи,
                          | переселяющимся совместно с ним в Российскую Федерацию;
                        li.rvp_enumeration-item
                          span 6.2 Имеющему ребенка,
                          |состоящего в гражданстве Российской Федерации;
                        li.rvp_enumeration-item
                          span 6.3 Имеющему сына или дочь,
                          | достигших возраста восемнадцати лет, состоящих в гражданстве Российской Федерации и решением суда, вступившим в законную силу, признанных недееспособными либо ограниченными
                          | в дееспособности;
                        li.rvp_enumeration-item
                          span 6.4 Не достигшему возраста восемнадцати лет,
                          | получающему разрешение на временное проживание по
                          | заявлению родителя (усыновителя, опекуна, попечителя) — гражданина Российской Федерации;


              .section__residence.section
                .section__residence-bg.section__bg
                .section__residence-content.section__content
                  .row
                    .col-xs-12
                      .section__residence-title.section__title_white
                        h1 ВНЖ
                  .row
                    .col-xs-12
                      .section__residence-text
                        .residence-text_info
                          |Вид на жительство — документ, выданный иностранному гражданину в подтверждение его права на постоянное проживание в Российской Федерации, а также его права на свободный выезд из Российской Федерации и въезд в Российскую Федерацию. Вид на жительство, выданный лицу без гражданства, является одновременно и документом, удостоверяющим его личность.
                        .residence-text_time
                          |Вид на жительство выдается иностранному гражданину на пять лет. По окончании срока действия вида на жительство происходит продление по заявлению иностранного гражданина. В территориальный орган МВД России подается заявление не позднее чем за два месяца до истечения срока действия имеющегося у него вида на жительство. Количество продлений срока действия вида на жительство не ограничено.
                        .residence-text_life
                          |До получения вида на жительство иностранный гражданин обязан прожить в Российской Федерации не менее одного года на основании разрешения на временное проживание.

              include _components/contacts
              include _components/map
              include _components/form
  include _components/scripts


