include _components/head
  title Выездные визы
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="../../../assets/img/header/bg-header_page6.jpg" alt='')
                .section__header-title world without boarders
              .section__exit-visa.section
                .section__exit-visa-bg.section__bg
                .section__exit-visa-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-title.section__title_purple
                        h1 Выездные визы
                  .row
                    .col-xs-12
                      .section__exit-visa-text
                        .exit-visa-text_desc
                          | Для посещения ряда стран мира гражданам Российской Федерации и иностранцам, работающим в России, необходима виза.  Виза - это разрешение на пребывание в стране в течение определенного срока

              .section__exit-visa-time.section
                .section__exit-visa-time-bg.section__bg
                .section__exit-visa-time-content.section__content
                  .row
                    .col-xs-12
                      ul.section__exit-visa-time-list
                        li.section__exit-visa-time-item
                          | В визе указывается срок, в течение которого возможен въезд и должен быть осуществлен последний выезд, количество въездов, возможная продолжительность пребывания.
                        li.section__exit-visa-time-item
                          | Виза оформляется до начала поездки в консульстве соответствующей страны на территории России и вклеивается в паспорт.
              .section__exit-visa-useful.section
                .section__exit-visa-useful-bg.section__bg
                .section__exit-visa-useful-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-useful-title Наша компания полезна Вам:
                      ul.section__exit-visa-useful-list
                        li.section__exit-visa-useful-item
                          span - в оформлении туристических, деловых, рабочих виз во все страны мира, включая основные направления:&nbsp;
                          |страны Шенгена,страны Азии, Америка, Англия, СНГ
                        li.section__exit-visa-useful-item
                          span - в оформлении&nbsp;
                          |заграничных паспортов
                        li.section__exit-visa-useful-item
                          span - в страховании&nbsp;
                          |выезжающих за рубеж
              .section__exit-visa-advantages.section
                .section__exit-visa-advantages-bg.section__bg
                .section__exit-visa-advantages-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-advantages-title Наша компания полезна Вам (ИЗМЕНИТЬ ЗАГОЛОВОК):
                      ul.section__exit-visa-advantages-list
                        li.section__exit-visa-advantages-item
                          |- Гибкую и прозрачную ценовую политику
                        li.section__exit-visa-advantages-item
                          |- Оперативный ответ профессионального менеджера
                        li.section__exit-visa-advantages-item
                          |- Возможность разделения прайса на базовые и дополнительные услуги
                        li.section__exit-visa-advantages-item
                          |- Предоставление вариантов для решения ваших запросов
                        li.section__exit-visa-advantages-item
                          |- Гарантии достижения результата


              include _components/contacts
              include _components/map
              include _components/form

  script(type="text/javascript" src="../../../assets/lib/jquery/jquery-3.2.1.min.js")
  script(src="../../../js/page_1/map.js")
  script(async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDkt2KHmSgb2aqFtHySvyCyfvD1Ew4ojNk&callback=initMap" type="text/javascript")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
  script(src="../../../js/page_1/index.js")


