include _components/head
  title Другие услуги
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/bg-header_page3_1.jpg" alt='')
                .section__header-title ahead of time

              .section__other-services.section
                .section__other-services-bg.section__bg
                .section__other-services-content.section__content
                  .row
                    .col-xs-12
                      .section__other-services-title.section__title_purple
                        h1=content.otherServices.otherServicesTitle
                  .row
                    .col-xs-12
                      .section__other-services-text
                        .other-services-text_add
                          =content.otherServices.otherServicesDesc
                        ul.other-services-text-list
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan1
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText1
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan2
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText2
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan3
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText3
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan4
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText4
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan5
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText5
                          li.other-services-text-item
                            .other-services-text-item_title
                              =content.otherServices.otherServicesSpan6
                            .other-services-text-item_desc
                              =content.otherServices.otherServicesText6


              include _components/contacts
              include _components/map
              include _components/form

  include _components/scripts


