include _components/head
  title Вебинар-академия
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="../../../assets/img/header/bg-header_page5.jpg" alt='')
                .section__header-title our webinar academy

              .section__web.section
                .section__web-bg.section__bg
                .section__web-content.section__content
                  .row
                    .col-xs-12
                      .section__web-title.section__title_purple
                        h1 Вебинар-академия
                  .row
                    .col-xs-12
                      .section__web-desc
                        | Вебинар-академия Mellennium Travel - это обучающая on-line платформа, созданная для удобства обучения и информирования наших клиентов, а также построение
                        | нового типа коммуникации, основанного на удобстве предоставления информации.
                        | Мы создаем новые стандарты онлайн-обучения, которые помогают нам делиться с клиентами уникальным опытом, легко передавать знания и тем самым выводить
                        | бизнес-процессы на новый уровень.
                  .row
                    .web__video-block
                      .col-xs-6
                        .web__video-block_desc
                          .web__video-block-title
                            h3 Обучающие
                          .web__video-block-text
                            |Во многих компаниях  поддержка экспатов требует дополнительных компетенций. Целью наших обучающих вебинаров является ознакомление с базовыми моментами и правилами, на которые стоит обратить внимание при работе с иностранными гражданами.
                          .web__video-block-text_time
                            |Вебинары рассчитаны на группы от 10 до 100 человек
                      .col-xs-6
                        .web__video-block_webinar
                          .web__video-block-video
                            video(controls width="400" height="300")
                              source(src="https://youtu.be/JISFx18J7nc" type="video/mp4")
                          a(href="#").section__web-link
                            img.section__web-link_img(src='../../../assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                            span Смотреть видео
                  .row
                    .web__info-block
                      //.col-xs-6
                      .web__info-block_desc
                        .web__info-block-title
                          h3 Информационные
                        .web__info-block-text
                          |Во многих компаниях  поддержка экспатов требует дополнительных компетенций. Целью наших обучающих вебинаров является ознакомление с базовыми моментами и правилами, на которые стоит обратить внимание при работе с иностранными гражданами.
                        .web__info-block-text_people
                          |Вебинары рассчитаны на группы от 50 до 500 человек
                        a(href="#").section__web-link
                          img.section__web-link_img(src='../../../assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                          span Смотреть видео
                      //.col-xs-6
                      .web__info-block_desc
                        .web__info-block-title
                          h3 Индивидуальные
                        .web__info-block-text
                          |Индивидуальные вебинары сочетают в себе преимущества обучающих и информационных вебинаров. Программа составляется в соответствии с пожеланиями наших заказчиков учитывая их актуальные запросы. В ходе проведения вебинара все вопросы от участников разбираются детально, предоставляются практические примеры.
                        .web__info-block-text_people
                          |Вебинары рассчитаны на группы от 50 до 500 человек
                          a(href="#").section__web-link
                            img.section__web-link_img(src='../../../assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                            span Смотреть видео


              include _components/contacts
              include _components/map
              include _components/form

  include _components/scripts



