.section__contacts.section
  .section__contacts-bg.section__bg
  .section__contacts-content.section__content
    .row#contacts
      .col-xs-12
        .section__contacts-title.section__title_white
          h1 Контакты
    .row.section__contacts-block
      .col-sm-4
        .section__contacts-item
          .section__contacts-icon
            img.section__contacts-img.img-responsive(src="../../../assets/img/contacts/phone.png" alt='')
          .section__contacts-desc
            a.section__contacts-desc-link(href="tel:84957838311") +7(495)783 83 11
      .col-sm-4
        .section__contacts-item
          .section__contacts-icon
            img.section__contacts-img.img-responsive(src="../../../assets/img/contacts/location.png" alt='')
          .section__contacts-desc г. Москва, пр. Вернадского, д.29, 119331
      .col-sm-4
        .section__contacts-item
          .section__contacts-icon
            img.section__contacts-img.img-responsive(src="../../../assets/img/contacts/post.png" alt='')
          .section__contacts-desc
            a.section__contacts-desc-link(href="mailto:visa@mltravel.ru") visa@mltravel.ru
