include ./script
.section__form.section
  .section__form-bg.section__bg
  .section__form-content.section__content
    form(action='/assets/php/mail.php', method='get')
      .row
        .col-sm-6.col-xs-6.form-group
          .input-group
            span.input-group-addon Name
            input#inputGroupSuccess1.form-control(name='name', type='text', aria-describedby='inputGroupSuccess1Status')
        .form-group.col-sm-6.col-xs-6
          .input-group
            span.input-group-addon Email
            input#inputGroupSuccess2.form-control(name='email', type='email', aria-describedby='inputGroupSuccess1Status')
      .row
        .col-sm-12.col-xs-12.form-group.with-btn
          .input-group
            span.input-group-addon Message
            input#inputGroupSuccess3.form-control(name='message', type='text', aria-describedby='inputGroupSuccess1Status')
          button.btn.btn-white(type='submit') Send
      include social


