.sidebar
  ul.sidebar-list
    li.sidebar-item
      //a(href="http://mellennium.surge.sh/visa.html").sidebar-link
      a(href="./visa.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/visa.png" alt='')
        .sidebar-desc Виза в Россию
    li.sidebar-item
      a(href="./work-permit.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/jobs.png" alt='')
        .sidebar-desc Разрешение на работу
    li.sidebar-item
      a(href="./exit-visa.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/visa1.png" alt='')
        .sidebar-desc Выездные визы
    li.sidebar-item
      a(href="./citizenship.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/citizen.png" alt='')
        .sidebar-desc Гражданство РФ
    li.sidebar-item
      a(href="./webinar.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/academy.png" alt='')
        .sidebar-desc Вебинар академия
    li.sidebar-item
      a(href="./other-services.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/service.png" alt='')
        .sidebar-desc Другие услуги
