.row
  .col-xs-12
    .social__block
      ul.social__block-list
        li.social__block-item
          a(href="#").social__block-link_fb
        li.aboutComp-social-item
          a(href="#").social__block-link_vk
        li.aboutComp-social-item
          a(href="#").social__block-link_in
